#############################################
# Windows 
#############################################
desktop.ini
Thumbs.db

#############################################
# IDE
#############################################
.idea
*.MF
*.iml