<div class="row">

    <div class="col-sm-offset-1 col-sm-10">

        <h3 class="library-collection">Library Collection</h3>

        <hr>

    </div>

    <div class="col-sm-offset-1 col-sm-7">

        <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    <a>#</a>
                </th>
                <th>
                    <a ng-click="orderBy('title')">Title</a>
                    <span ng-bind-html="arrow('title')"></span>
                </th>
                <th>
                    <a>Icon</a>
                </th>
                <th>
                    <a ng-click="orderBy('author')">Author</a>
                    <span ng-bind-html="arrow('author')"></span>
                </th>
                <th>
                    <a ng-click="orderBy('date')">Published</a>
                    <span ng-bind-html="arrow('date')"></span>
                </th>
                <th>
                    <a ng-click="orderBy('size')">Size</a>
                    <span ng-bind-html="arrow('size')"></span>
                </th>
                <th>
                    <a></a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="book in showBooks() | orderBy: sortProperty: sortReverse | slice: from: to"
                ng-mouseover="showImage(book.image)" ng-class="isRemovable(book.isRead)">
                <td>{{$index + 1}}</td>
                <td>&laquo;{{book.title}}&raquo;</td>
                <td ng-click="go('/show/' + book.id)">
                    <img ng-src="{{book.image}}" alt="{{book.title}}"
                         class="library-image-tiny"/></td>
                <td>{{book.author}}</td>
                <td><code>{{book.date}}</code></td>
                <td>{{book.size}}</td>
                <td ng-click=""><input type="checkbox" ng-model="book.isRead"/></td>
            </tr>
            </tbody>
        </table>

        <div class="row">

            <div class="col-sm-6">

                <a ng-href="#/add" class="btn btn-success btn-block" role="button">Add new book</a>

            </div>

            <div class="col-sm-6">

                <form>
                    <button type="submit" class="btn btn-primary btn-block"
                            ng-click="removeBooks()" ng-disabled="!readyToRemove()">Remove books</button>
                </form>

            </div>

        </div>

        <div class="row">

            <div class="col-sm-offset-1 col-sm-5">

                <ul class="pagination">

                    <li ng-repeat="r in getTotalRanges()" ng-class="getClassOfCurrentRange(r)">
                        <a ng-click="setCurrentRange(r)">{{r}}</a>
                    </li>

                </ul>

            </div>

            <div class="col-sm-6 form-group">

                <form class="form-horizontal library-select-pagination">
                    <div class="form-group">
                        <label for="count" class="col-sm-6 control-label">Items on page:</label>
                        <div class="col-sm-6 control-label">
                            <select name="count" title="count" ng-model="count"
                                    class="form-control" id="count" required>
                                <option ng-repeat="item in items" ng-value="item"
                                        ng-click="setCurrentRange(1)">{{item}} book(s)</option>
                            </select>
                        </div>
                    </div>
                </form>

            </div>

        </div>

    </div>

    <div class="col-sm-3">
        <img ng-src="{{currentImage}}" class="img-thumbnail img-responsive">


    </div>

</div>